* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FDF6F0;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;

}
.logo {
    margin-left: 50px;
}
.logo:hover {
    cursor: pointer;
}
header.navigation {
    padding-top: 16px;
}
nav.inlineBlock {
  
    float: right;
}

ul.inlineBlock {
    display: inline-flex;
    list-style: none;
    width: 565px;
    justify-content: space-evenly;
}
li:hover {
    cursor: pointer;
   
}

section.heroImg {
    height: 743px;
}
.contact {
    text-decoration: none;
    color: #333333;
}
button {
    font-family: 'Poppins', 'sans-serif';
    font-size: 20px;
    width: 315px;
    height: 62px;
    background-color: #FDF6F0;
    border-color: #333333;
    border-radius: 5px;
    margin-left: 50px;
    border-width: 0.5px;
    font-weight: lighter;
    box-shadow: 5px 5px rgb(163, 163, 163);
}

#resumeLink:hover {
    /* background-color: #AEDECF;
    border-color: #AEDECF; */
    cursor:pointer;
   
} 

img.hamburgerMenu  {
    padding-right: 50px;
    display: none;
}
#heroImage {
    padding-right: 50px;
}
h1 {
    font-family: 'Abril Fatface';
    font-size: 36px;
    font-weight:lighter;
    margin-left: 50px;
    font-weight: lighter;
    padding-bottom: 48px;
  
}
#hero {
    padding-top: 32px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}

p.summary {
    padding-bottom: 48px;
    width: 700px;
}


p {
    margin-left: 50px;
}
h2 {
    font-family: 'Abril Fatface';
    font-size: 24px;
    font-weight:lighter;
}

h1.skills {
    margin-top: 38px;
}
h3.technicalSkills {
    font-family: 'Abril Fatface';
    font-size: 24px;
    font-weight:lighter;
    margin-left: 150px;
    margin-top: 48px;
    margin-bottom: 48px;
}

h3.languageSkills {
    font-family: 'Abril Fatface';
    font-size: 24px;
    font-weight:lighter;
    margin-left: 100px;
    margin-top: 48px;
    margin-bottom: 48px;
}
button {
    width: 315px;
    height: 62px;

}
section.skills {
    height: 460px;
    background-color: #AEDECF;
    display: inline-flex;
    width: 100%;
}

.technicalSkills{
    list-style: none;
    margin-left: 150px;
}

.languageSkills {
    list-style: none;
    margin-left: 100px;
}
#experience {
  
    background-color: #B8D6F0;
    padding-bottom: 48px;
}

h1.experience {
padding-top: 48px;
padding-bottom: 0;
}

/* p.experience {
    margin-top: 20px;
} */

h1.education {
    padding-top: 48px;
}

.education {
    padding-bottom: 28px;
}
footer {
    background-color: #AEDECF;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center; 
}

#footer {
    margin-left: 30px;
}

ul.footer{
    list-style: none;
    display: inline-flex;
    float: right;
    
}
.social {
    margin-left: 30px;
    margin-right: 30px;
    height: 30px;
    width: 30px;

}

.social:hover {
    cursor: pointer;
    /* background-color: white; */
}

#github:hover {
    content: url(../images/Githubw.png);
}

#linkedin:hover {
    content: url(../images/Linkedinw.png);
}

@media only screen and (max-width: 600px) {

    img.hamburgerMenu  {
        padding-right: 50px;
        display: flex;
    }

    p.summary {
        width: 400px;
    }
    .logo {
        margin-left: 30px;
    }

    ul.inlineBlock {
        display: none;
    
    }

    #hero {

        flex-direction: column;
    }

    #heroImage {
        padding-right: 0;
        padding-top: 40px;
    }

    .skills h1 {
        padding-bottom: 0px;
    }

    section.skills {
        flex-direction: column;
        height: 750px;
    }

    #technicalSkills {
        flex-direction: column;
        margin-left: -100px;
       
    }

    #languageSkills {
        flex-direction: column;
        margin-left: -50px;
    }

    .social {
        height: 30px;
    }

}